# ========================
# BACKEND - SPRING BOOT
# ========================
tarefas-todo-app/target/
tarefas-todo-app/.idea/
tarefas-todo-app/*.iml
tarefas-todo-app/*.log
tarefas-todo-app/.env
tarefas-todo-app/.DS_Store

# ========================
# FRONTEND - VITE + REACT
# ========================
tarefas-todo-app/node_modules/
tarefas-todo-app/dist/
tarefas-todo-app/.vite/
tarefas-todo-app/.eslintcache
tarefas-todo-app/.parcel-cache/
tarefas-todo-app/.turbo/
tarefas-todo-app/.DS_Store
tarefas-todo-app/.env
tarefas-todo-app/coverage/